@page "/ProfessionEdit"

@rendermode InteractiveServer

@inject NavigationManager NavigationManager;
@inject ProfessionsClient ProfessionClient;
@inject IJSRuntime JSRuntime
@using LaborExchange.Frontend.Clients;
@using LaborExchange.Frontend.Models.Professions;

<PageTitle>Додати професію</PageTitle>
<EditForm Model="@cProf" FormName="editProfession" OnValidSubmit="HandleSubmitAsync">
    <DataAnnotationsValidator/>
    <div class="mb-3">
        <label for="Name" class="form-label">Професія: </label>
        <InputText id="Name" @bind-Value="cProf.Name" class="form-control"/>
        <ValidationMessage For="() => cProf.Name" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a role="button" class="btn btn-secondary" href="/">Cancel</a>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private CreateProfession? cProf {get;set;} = new();   

    private async Task HandleSubmitAsync() {
        ArgumentNullException.ThrowIfNull(cProf);
        await ProfessionClient.CreateProfession(cProf);
        await GoBack();
    }

    private async Task GoBack()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }
}